<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337913557720-119fsj2hfrlik4k8tc9s63bn9g9shstl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337913557720-119fsj2hfrlik4k8tc9s63bn9g9shstl</string>
	<key>API_KEY</key>
	<string>AIzaSyAtlzC7yIxhhUqrjjpCFdParmJCEOqF-wE</string>
	<key>GCM_SENDER_ID</key>
	<string>337913557720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.znun.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-cea5a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-cea5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337913557720:ios:e424aa84e83444afce1dad</string>
</dict>
</plist>